.list_container
	.title= @list.title
	%button.new_item New Item
	%button.save Save
%pre= flash[:notice] 
:javascript
	var current_list = new List(),
	    current_list_ui = new ListUI({
				list: current_list,
				container:$('.list_container')
			});
	$('button.new_item').click(function(){
		current_list.create_item();
	});
	$('button.save').click(function(){
		IO.save(current_list);
	});
